<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Notice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/box.css}" href="../static/styles/box.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/button.css}" href="../static/styles/button.css">
</head>
<body>
    <div class="container">
        <div class="text-center mt-4">
            <h1 style="font-family: fangsong;">Update a Notice</h2>
            <span>Please fill in the necessary details below.</span>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6 form-md">
                <div class="card field-box">
                    <div class="card-body">
                        <form th:action="@{/adminpanel/notices/{id}/update(id=${notice.noticeId})}" th:object="${notice}" method="post">
                            <div class="form-group">
                                <input type="hidden" th:field="*{noticeDate}" th:value="${notice.noticeDate}">
                                <input type="hidden" th:field="*{isDeleted}" th:value="${notice.isDeleted}"> 
                            </div>
                            <label for="header">Header</label>
                            <div class="input-group mt-2 mb-3">
                                <span class="input-group-text"><i class="bi-list"></i></span>
                                <input type="text" class="form-control" th:field="*{header}" name="description" th:value="${notice.header}"
                                placeholder="Please specify the details" autocomplete="off" required>
                            </div>
                            <label for="description">Description</label>
                            <div class="input-group mt-2 mb-3">
                                <span class="input-group-text"><i class="bi-list"></i></span>
                                <textarea id="inputArea" class="form-control dynamic-field" th:field="*{description}" rows="1" name="description" th:value="${notice.description}"
                                placeholder="Please specify the details" autocomplete="off" required></textarea>
                            </div>
                            <div>
                                <a th:href="@{/adminpanel/notices/{id}(id=${notice.noticeId})}" class="btn button">Go Back</a>
                                <button type="submit" class="btn button float-end">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/formMode.js}" src="../static/js/formMode.js"></script>
    <script type="text/javascript" th:src="@{/js/dynamicField.js}" src="../static/js/dynamicField.js"></script>
</body>
</html>