<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/box.css}" href="../static/styles/box.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/button.css}" href="../static/styles/button.css">
</head>
<body>
    <div class="container">
        <div class="text-center mt-4">
            <img src="../static/images/login_logo.png" th:src="@{/images/login_logo.png}" alt="logo">
        </div>
        <div class="text-center mt-4">
            <h2>Welcome!</h2>
            <span>Please enter your details to login.</span>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div th:if="${param.error}" class="alert alert-danger">Invalid username or password.</div>
                <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
                <div th:if="${param.expired}" class="alert alert-info">Your session has expired.</div>
                <div th:if="${param.denied}" class="alert alert-warning">Validation failed.</div>
                <div th:if="${success}" class="alert alert-success"><span th:text="${success}"></span></div>
                <div th:if="${failure}" class="alert alert-info"><span th:text=${failure}></span></div>
                <div th:if="${changeSuccess}" class="alert alert-success"><span th:text="${changeSuccess}"></span></div>
                <div class="card field-box">
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <label for="password">Email</label>
                            <div class="input-group mt-2 mb-3">
                                <span class="input-group-text"><i class="bi-envelope-fill"></i></span>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your email here" autocomplete="off">
                            </div>
                            <label for="password">Password</label>
                            <div class="input-group mt-2">
                                <span class="input-group-text"><i class="bi-key-fill"></i></span>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password here" autocomplete="off">     
                            </div>
                            <div class="input-group justify-content-end">
                                <a th:href="@{/forgotpassword}" class="box-link">Forgot My Password</a>
                            </div>
                            <button type="submit" class="btn button">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        const modeFlag = localStorage.getItem("darkMode");
        var page = document.querySelector("html");

        if (modeFlag === "enabled")
        {
            page.setAttribute("data-bs-theme", "dark");
            document.querySelector(".field-box").style.backgroundColor = "#272d31";
        }
        else
        {
            page.removeAttribute("data-bs-theme");
        }
    </script>
</body>
</html>