<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Notice Info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/menu.css}" href="../static/styles/menu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/page.css}" href="../static/styles/page.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/button.css}" href="../static/styles/button.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/menu.html :: adminmenu"></div>
            <div class="col-10">
                <div class="p-4">
                    <div class="row" style="font-family: fangsong;">
                        <div class="col-sm-10" style="margin-left: inherit;">
                            <h2>Notice</h2>
                        </div>
                    </div>
                    <div class="card row profile-element mt-2">
                        <label class="col-sm-2 col-form-label profile-element-title-admin">
                            <i class="bi-calendar" style="padding-right: 5px;"></i>Date</label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${#temporals.format(notice.noticeDate, 'dd/MM/yyyy')}"></span>
                        </div>
                    </div>
                    <div class="card row profile-element mt-3">
                        <label class="col-sm-2 col-form-label profile-element-title-admin">
                            <i class="bi-list" style="padding-right: 5px;"></i>Description</label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${notice.description}"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-10" style="margin-left: inherit;">
                            <a th:href="@{/adminpanel/notices/{id}/update(id=${notice.noticeId})}" class="btn button">Update Notice</a>
                            <button class="btn button" id="noticeEraser" th:data-notice-id="${notice.noticeId}">Delete Notice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="confirmStatic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" id="cancelButton" class="btn button" data-dismiss="modal">No</button>
                    <button type="button" id="confirmButton" class="btn button">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alertModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="alertNonStatic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <span></span>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" id="okButton" class="btn button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        const modeFlag = localStorage.getItem("darkMode");
        var page = document.querySelector("html");

        if (modeFlag === "enabled")
        {
            page.setAttribute("data-bs-theme", "dark");
            document.getElementById("modeIcon").innerHTML = '<i class="bi-sun-fill" style="margin: 7px;"></i>Light Mode';
        }
        else
        {
            page.removeAttribute("data-bs-theme");
            document.getElementById("modeIcon").innerHTML = '<i class="bi-moon-stars-fill" style="margin: 7px;"></i>Dark Mode';
        }

        document.getElementById("darkToggle").addEventListener("click", function() {
            var button = document.getElementById("darkToggle");
            var icon = document.getElementById("modeIcon");
            if (!page.hasAttribute("data-bs-theme"))
            {                
                page.setAttribute("data-bs-theme", "dark");
                icon.innerHTML = '<i class="bi-sun-fill" style="margin: 7px;"></i>Light Mode';
                localStorage.setItem("darkMode", "enabled");
            }
            else
            {
                page.removeAttribute("data-bs-theme");
                icon.innerHTML = '<i class="bi-moon-stars-fill" style="margin: 7px;"></i>Dark Mode';
                localStorage.setItem("darkMode", "disabled");
            }
        });
    </script>
    <script>
        function confirmationPop(message, callback)
        {
            $('#confirmationModal .modal-body').text(message);
            $('#confirmationModal').modal('show');

            $('#confirmationModal').on('click', '#confirmButton', function()
            {
                callback(true);
                $('#confirmationModal').modal('hide');
            });
            $('#confirmationModal').on('click', '#cancelButton', function() 
            {
                callback(false);
                $('#confirmationModal').modal('hide');
            });
        }

        function alertPop(message, callback)
        {
            $('#alertModal .modal-body').text(message);
            $('#alertModal').modal('show');
            $('#alertModal').on('hidden.bs.modal', function()
            {
                if (callback && typeof callback === 'function')
                {
                    callback();
                }
            });
        }

        document.getElementById("noticeEraser").addEventListener("click", function() {
            var noticeId = this.dataset.noticeId;
            var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
            var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
            confirmationPop("Are you sure you want to remove this notice?", function(confirmedByUser)
            {
                if (confirmedByUser)
                {
                    var xhr = new XMLHttpRequest();
                    xhr.open('DELETE', '/adminpanel/notices/' + noticeId + '/delete', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4)
                        {
                            if (xhr.status === 200)
                            {
                                alertPop(xhr.responseText, function()
                                {
                                    window.location.href = '/adminpanel/notices';
                                });
                            }
                            else
                            {
                                console.log("An error has occurred.");
                            }
                        }
                    };
                    xhr.send();
                }
            })
        });
    </script>
</body>
</html>