<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Ticket Info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/menu.css}" href="../static/styles/menu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/page.css}" href="../static/styles/page.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/button.css}" href="../static/styles/button.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/menu.html :: ${#strings.startsWith(requestURI, '/adminpanel')} ? 'adminmenu' : 'usermenu'"></div>
            <div class="col-10">
                <div class="p-4">
                    <div class="row" style="font-family: fangsong;">
                        <div class="col-sm-10" style="margin-left: inherit;">
                            <h2>Ticket</h2>
                        </div>
                    </div>
                    <div class="card row profile-element mt-2">
                        <label class="col-sm-2 col-form-label" th:classappend="${#strings.startsWith(requestURI, '/adminpanel')} ? profile-element-title-admin : profile-element-title">
                            <i class="bi-calendar" style="padding-right: 5px;"></i>Issued At
                        </label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${#temporals.format(ticket.createdAt, 'dd/MM/yyyy')}"></span>
                        </div>
                    </div>
                    <div class="card row profile-element mt-3" th:if="${#strings.startsWith(requestURI, '/adminpanel')}">
                        <label class="col-sm-2 col-form-label" th:classappend="${#strings.startsWith(requestURI, '/adminpanel')} ? profile-element-title-admin : profile-element-title">
                            <i class="bi-person" style="padding-right: 5px;"></i>Issued By
                        </label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${ticket.createdBy}"></span>
                        </div>
                    </div>
                    <div class="card row profile-element mt-3">
                        <label class="col-sm-2 col-form-label" th:classappend="${#strings.startsWith(requestURI, '/adminpanel')} ? profile-element-title-admin : profile-element-title">
                            <i class="bi-card-list" style="padding-right: 5px;"></i>Category
                        </label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${ticket.category}"></span>
                        </div>
                    </div>
                    <div class="card row profile-element mt-3">
                        <label class="col-sm-2 col-form-label" th:classappend="${#strings.startsWith(requestURI, '/adminpanel')} ? profile-element-title-admin : profile-element-title">
                            <i class="bi-list" style="padding-right: 5px;"></i>Description
                        </label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${ticket.description}"></span>
                        </div>
                    </div>
                    <div class="card row profile-element mt-3">
                        <label class="col-sm-2 col-form-label" th:classappend="${#strings.startsWith(requestURI, '/adminpanel')} ? profile-element-title-admin : profile-element-title">
                            <i class="bi-check2-circle" style="padding-right: 5px;"></i>Status
                        </label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${ticket.status}"></span>
                        </div>
                    </div>
                    <div class="card row profile-element mt-3">
                        <label class="col-sm-2 col-form-label" th:classappend="${#strings.startsWith(requestURI, '/adminpanel')} ? profile-element-title-admin : profile-element-title">
                            <i class="bi-calendar" style="padding-right: 5px;"></i>Answered At
                        </label>
                        <div class="col-sm-10">
                            <span class="form-control-plaintext" th:text="${#temporals.format(ticket.answeredAt, 'dd/MM/yyyy')} ?: 'This issue has not been resolved yet.'"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-10" style="margin-left: inherit;">
                            <span id="cursorWrap">
                                <button class="btn button" id="ticketResolver" th:data-ticket-id="${ticket.ticketId}" th:data-status="${ticket.status}" th:if="${#strings.startsWith(requestURI, '/adminpanel')}">Mark As Resolved</button>
                                <button class="btn button" id="ticketEraser" th:data-ticket-id="${ticket.ticketId}" th:data-uri="${requestURI}">Delete Ticket</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="confirmStatic" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" id="cancelButton" class="btn button" data-dismiss="modal">No</button>
                        <button type="button" id="confirmButton" class="btn button">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="alertModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="alertNonStatic" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <span></span>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" id="okButton" class="btn button" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        const modeFlag = localStorage.getItem("darkMode");
        var page = document.querySelector("html");

        if (modeFlag === "enabled")
        {
            page.setAttribute("data-bs-theme", "dark");
            document.getElementById("modeIcon").innerHTML = '<i class="bi-sun-fill" style="margin: 7px;"></i>Light Mode';
        }
        else
        {
            page.removeAttribute("data-bs-theme");
            document.getElementById("modeIcon").innerHTML = '<i class="bi-moon-stars-fill" style="margin: 7px;"></i>Dark Mode';
        }

        document.getElementById("darkToggle").addEventListener("click", function() {
            var button = document.getElementById("darkToggle");
            var icon = document.getElementById("modeIcon");
            if (!page.hasAttribute("data-bs-theme"))
            {                
                page.setAttribute("data-bs-theme", "dark");
                icon.innerHTML = '<i class="bi-sun-fill" style="margin: 7px;"></i>Light Mode';
                localStorage.setItem("darkMode", "enabled");
            }
            else
            {
                page.removeAttribute("data-bs-theme");
                icon.innerHTML = '<i class="bi-moon-stars-fill" style="margin: 7px;"></i>Dark Mode';
                localStorage.setItem("darkMode", "disabled");
            }
        });
    </script>
    <script>
        function confirmationPop(message, callback)
        {
            $('#confirmationModal .modal-body').text(message);
            $('#confirmationModal').modal('show');

            $('#confirmationModal').on('click', '#confirmButton', function()
            {
                callback(true);
                $('#confirmationModal').modal('hide');
            });
            $('#confirmationModal').on('click', '#cancelButton', function() 
            {
                callback(false);
                $('#confirmationModal').modal('hide');
            });
        }
        
        function alertPop(message, callback)
        {
            $('#alertModal .modal-body').text(message);
            $('#alertModal').modal('show');
            $('#alertModal').on('hidden.bs.modal', function()
            {
                if (callback && typeof callback === 'function')
                {
                    callback();
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            var ticketResolverButton = document.getElementById("ticketResolver");
            if (ticketResolverButton) 
            {
                var answer = ticketResolverButton.dataset.status;
                    if (answer === 'ANSWERED') 
                    {
                        ticketResolverButton.setAttribute('disabled', true);
                        var cursorWrap = document.getElementById("cursorWrap");
                        if (cursorWrap) 
                        {
                            cursorWrap.style.cursor = "not-allowed";
                        }
                    }
                ticketResolverButton.addEventListener("click", function() {
                    var ticketId = this.dataset.ticketId;
                    var button = document.getElementById("ticketResolver");
                    var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
                    var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/adminpanel/tickets/' + ticketId + '/update', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4)
                        {
                            if (xhr.status === 200)
                            {
                                alertPop(xhr.responseText, function()
                                {
                                    window.location.href = '/adminpanel/tickets';
                                });
                            }
                            else
                            {
                                console.log("An error has occurred.");
                            }
                        }
                    };
                    xhr.send();
                });
            }
        });

        document.getElementById("ticketEraser").addEventListener("click", function() {
            var ticketId = this.dataset.ticketId;
            var requestURI = this.dataset.uri;
            var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
            var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
            confirmationPop("Are you sure you want to delete this ticket?", function(confirmedByUser)
            {
                if (confirmedByUser)
                {
                    var xhr = new XMLHttpRequest();
                    xhr.open('DELETE', requestURI + '/delete', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4)
                        {
                            if (xhr.status === 200)
                            {
                                alertPop(xhr.responseText, function()
                                {
                                    if (requestURI.startsWith("/adminpanel"))
                                    {
                                        window.location.href = '/adminpanel/tickets';
                                    }
                                    else
                                    {
                                        window.location.href = '/tickets';
                                    }
                                });
                            }
                            else
                            {
                                console.log("An error has occurred.");
                            }
                        }
                    };
                    xhr.send();
                }
            });
        });
    </script>
</body>
</html>