.field-box {
    border-color: #33b8bc;
    border-width: 1px;
    border-radius: 0;
    background-color: #f7f7f7;
}

.dynamic-field {
    resize: none;
    overflow-y: hidden;
}

.box-link {
    font-size: 14px;
    text-decoration: none;
    color: #888888;
}

.box-link:hover {
    text-decoration: none;
    color: #e7932c;
}

.combobox {
    color: #6c757d;
    background-color: white;
    border-color: #dee2e6;
}

.combobox-dark {
    color: #AEB2B6;
    background-color: #212529;
    border-color: #495057;
}

.combobox-dark:hover
{
    background-color: #33b8bc;
    border-color: #33b8bc;
    transition: background-color 0.5 ease;
}

.combobox:hover {
    background-color: #33b8bc;
    border-color: #33b8bc;
    transition: background-color 0.5 ease
}

.dropdown-item:hover {
    color: white;
    background-color: #f29a2d;
    transition: background-color 0.5 ease;
}