.button {
    background: linear-gradient(90deg, #cd326d, transparent) #b62d62d9;
    border: none;
    border-radius: 3px;
    color: white;
    transition: background-color 0.3s;
}

.form-check-input:focus
{
    box-shadow: none;
}

:not(.btn-check)+.btn:active
{
    color: white;
    background-color: #b62d62d9;
}

.btn:first-child:active
{
    color: white;
}

.btn-close
{
    --bs-btn-close-focus-shadow: none;
}

.btn:disabled {
    color: white;
    background-color: #cd326d;
    pointer-events: none;
    opacity: 0.5;
}

.button:hover {
    background-color: #9e3682;
    color: white;
}

.page-link:hover {
    text-decoration: underline;
}