html, body {
    height: 100%;
}

.sidebar {
    background: linear-gradient(#33b8bc, #328896, #1d5484);
    min-width: 11%;
}

.sidebar-admin {
    background: linear-gradient(#e7932c, #de6352, #f13a59);
    min-width: 11%;
}

.container-fluid, .row, .col-1 {
    height: 100%;
    overflow-y: hidden;
}

.logo {
    text-align: center;
}

.logo img {
    width: 55%;
}

.nav-item {
    font-size: large;
}

.nav-item:hover {
    background-color: #cd326d;
    transition: background-color 0.5 ease;
}

.admin:hover {
    background-color: #1682e7;
    transition: background-color 0.5 ease;
}