.item-page {
    min-width: 107%;
}

.page-link:focus
{
    box-shadow: none;
}

.active>.page-link
{
    background-color: #31aeb3; 
    border-color:#31aeb3
}

.profile-element {
    border: none;
    border-radius: 0;
    max-width: 50%;
}

.profile-element-title {
    color: white;
    background: linear-gradient(90deg, #e7932c 10%, transparent);
    min-width: 100%;
}

.profile-element-title-admin {
    color: white;
    background: linear-gradient(90deg, #31aeb3 10%, transparent);
    min-width: 100%;
}

.link-row {
    cursor: pointer;
}

.notice-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.notice-text {
    font-size: 18px;
    word-wrap: break-word;
}

.notice-date {
    font-size: 13px;
    color: #888888;
    margin-top: 10px;
}

.modal-header, .modal-content, .modal-body, .modal-footer
{
    border: none;
    border-radius: 0;
}